name: Compile, Test, and Build Docs
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        ghc-ver: ["9.0.1"]
        cabal-ver: ["3.4.0.0"]
    env:
      CONFIG: "--enable-tests"

    steps:

# Download this git repo
    - name: Checkout main
      uses: actions/checkout@v2

# Install GHC & Cabal
    - uses: actions/cache@v2
      name: Cache cabal packages
      id: cache-cabal
      with:
        path: |
          ~/.cabal/packages
          ~/.cabal/store
          ~/.cabal/bin
          dist
          dist-newstyle
        key: ${{ runner.os }}-${{ matrix.ghc-ver }}-${{ matrix.cabal-ver }}-${{ hashFiles('**') }}
        restore-keys: ${{ runner.os }}-${{ matrix.ghc-ver }}-${{ matrix.cabal-ver }}-

    - name: Install ghc and cabal
      uses: haskell/actions/setup@v1.2.2
      with:
        ghc-version: ${{ matrix.ghc-ver }}
        cabal-version: ${{ matrix.cabal-ver }}

    - name: Put cabal programs in PATH
      run: echo "~/.cabal/bin" >> $GITHUB_PATH

# Compile Local Haskell
    - name: Build and Test Haskell
      run: |
        cabal build $CONFIG
        cabal test $CONFIG
        cabal -v new-haddock --haddock-hyperlink-source --haddock-html-location='https://hackage.haskell.org/package/$pkg-$version/docs' --enable-documentation

# Deploy Haskell docs to site
    - name: Deploy haddocks to github pages
      uses: peaceiris/actions-gh-pages@v3.7.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: dist-newstyle/build/x86_64-linux/ghc-${{ matrix.ghc-ver }}/monus-weighted-search-0.1.0.0/doc/html/monus-weighted-search
